node-red/flows/brewery_flow.json
[
  {
    "id": "tab-brewery",
    "type": "tab",
    "label": "Brewery IoT",
    "disabled": false,
    "info": "ESP32 DS18B20 → Mosquitto → Google Sheets"
  },

  {
    "id": "cfg-mqtt",
    "type": "mqtt-broker",
    "name": "Mosquitto Docker",
    "broker": "${MQTT_BROKER_HOST}",
    "port": "${MQTT_BROKER_PORT}",
    "clientid": "nodered-brewery",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": false,
    "credentials": {}
  },

  {
    "id": "cfg-gsa",
    "type": "google-service-account",
    "name": "Service Account Brewery"
  },

  {
    "id": "n-mqtt-in",
    "type": "mqtt in",
    "z": "tab-brewery",
    "name": "DS18B20",
    "topic": "${MQTT_TOPIC_TEMPERATURE}",
    "qos": "1",
    "datatype": "utf8",
    "broker": "cfg-mqtt",
    "x": 130,
    "y": 100,
    "wires": [["n-validate"]]
  },

  {
    "id": "n-validate",
    "type": "function",
    "z": "tab-brewery",
    "name": "Validar DS18B20",
    "func": "const temp = parseFloat(msg.payload);\nconst MIN = parseFloat(env.get('SENSOR_TEMP_MIN') || '-55');\nconst MAX = parseFloat(env.get('SENSOR_TEMP_MAX') || '125');\n\nif (isNaN(temp) || temp < MIN || temp > MAX) {\n    node.warn('Leitura inválida: ' + msg.payload);\n    node.status({fill:'red', shape:'ring', text:'inválida: '+msg.payload});\n    return null;\n}\n\nconst ts  = new Date().toISOString();\nconst tab = env.get('SHEETS_TAB_READINGS') || 'sensor_readings';\n\nmsg.timestamp     = ts;\nmsg.temperature   = temp;\nmsg.payload       = [[ts, temp, 'DS18B20']];\nmsg.sheets_data   = [[ts, temp, 'DS18B20']];\nmsg.spreadsheetId = env.get('SHEETS_SPREADSHEET_ID');\nmsg.sheetName     = tab;\nmsg.range         = tab + '!A:C';\nmsg._attempts     = 0;\n\nnode.status({fill:'green', shape:'dot', text: temp + '°C'});\nreturn msg;",
    "outputs": 1,
    "x": 320,
    "y": 100,
    "wires": [["n-queue-add", "n-dbg-valid"]]
  },

  {
    "id": "n-queue-add",
    "type": "function",
    "z": "tab-brewery",
    "name": "Enfileirar",
    "func": "const MAX_Q = parseInt(env.get('QUEUE_MAX_SIZE') || '500');\nconst queue  = flow.get('queue') || [];\n\nif (!msg._fromRetry) {\n    if (queue.length >= MAX_Q) {\n        node.warn('Fila cheia! Descartando: ' + msg.timestamp);\n        return null;\n    }\n    queue.push({\n        sheets_data:   msg.sheets_data,\n        timestamp:     msg.timestamp,\n        temperature:   msg.temperature,\n        spreadsheetId: msg.spreadsheetId,\n        sheetName:     msg.sheetName,\n        range:         msg.range,\n        attempts:      0\n    });\n    flow.set('queue', queue);\n}\n\nconst item = queue[0];\nif (!item) return null;\n\nmsg.sheets_data   = item.sheets_data;\nmsg.timestamp     = item.timestamp;\nmsg.temperature   = item.temperature;\nmsg.spreadsheetId = item.spreadsheetId;\nmsg.sheetName     = item.sheetName;\nmsg.range         = item.range;\nmsg._attempts     = item.attempts;\nmsg.payload       = item.sheets_data;\n\nnode.status({fill:'blue', shape:'ring', text:'fila: ' + queue.length});\nreturn msg;",
    "outputs": 1,
    "x": 510,
    "y": 100,
    "wires": [["n-sheets"]]
  },

  {
    "id": "n-sheets",
    "type": "google-spreadsheet",
    "z": "tab-brewery",
    "name": "sensor_readings",
    "auth": "cfg-gsa",
    "action": "append",
    "x": 710,
    "y": 100,
    "wires": [["n-success", "n-dbg-sheets"]]
  },

  {
    "id": "n-success",
    "type": "function",
    "z": "tab-brewery",
    "name": "Sucesso — Limpar Fila",
    "func": "const queue = flow.get('queue') || [];\nqueue.shift();\nflow.set('queue', queue);\nnode.status({fill:'green', shape:'dot', text:'OK | fila: ' + queue.length});\nreturn msg;",
    "outputs": 1,
    "x": 930,
    "y": 60,
    "wires": [[]]
  },

  {
    "id": "n-catch",
    "type": "catch",
    "z": "tab-brewery",
    "name": "Erro Sheets",
    "scope": ["n-sheets"],
    "uncaught": false,
    "x": 710,
    "y": 220,
    "wires": [["n-retry"]]
  },

  {
    "id": "n-retry",
    "type": "function",
    "z": "tab-brewery",
    "name": "Retry / CSV Fallback",
    "func": "const RETRY_MAX   = parseInt(env.get('RETRY_MAX_ATTEMPTS') || '5');\nconst RETRY_DELAY = parseInt(env.get('RETRY_DELAY_MS')      || '60000');\n\nconst queue = flow.get('queue') || [];\nconst item  = queue[0];\nif (!item) return null;\n\nitem.attempts = (item.attempts || 0) + 1;\nflow.set('queue', queue);\n\nif (item.attempts >= RETRY_MAX) {\n    node.warn('Fallback CSV: ' + item.timestamp + ' (tentativas: ' + item.attempts + ')');\n    queue.shift();\n    flow.set('queue', queue);\n    const csvLine = item.timestamp + ',' + item.temperature + ',DS18B20\\n';\n    const csvMsg  = {\n        payload:  csvLine,\n        filename: env.get('BUFFER_CSV_PATH') || '/data/buffer.csv'\n    };\n    node.status({fill:'red', shape:'ring', text:'CSV fallback | fila: ' + queue.length});\n    return [null, csvMsg];\n}\n\nconst retryMsg = {\n    payload:       item.sheets_data,\n    sheets_data:   item.sheets_data,\n    timestamp:     item.timestamp,\n    temperature:   item.temperature,\n    spreadsheetId: item.spreadsheetId,\n    sheetName:     item.sheetName,\n    range:         item.range,\n    _attempts:     item.attempts,\n    _fromRetry:    true\n};\nnode.status({fill:'yellow', shape:'ring', text:'retry ' + item.attempts + '/' + RETRY_MAX});\nsetTimeout(() => { node.send([retryMsg, null]); }, RETRY_DELAY);\nreturn null;",
    "outputs": 2,
    "x": 930,
    "y": 220,
    "wires": [["n-sheets"], ["n-csv"]]
  },

  {
    "id": "n-csv",
    "type": "file",
    "z": "tab-brewery",
    "name": "CSV Buffer",
    "filename": "BUFFER_CSV_PATH",
    "filenameType": "env",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "utf8",
    "x": 1140,
    "y": 260,
    "wires": [[]]
  },

  {
    "id": "n-dbg-valid",
    "type": "debug",
    "z": "tab-brewery",
    "name": "Leitura válida",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "x": 320,
    "y": 200,
    "wires": []
  },

  {
    "id": "n-dbg-sheets",
    "type": "debug",
    "z": "tab-brewery",
    "name": "Sheets OK",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "x": 930,
    "y": 100,
    "wires": []
  }
]